* {
  box-sizing: border-box; /* Border is considered when calculating the width and height of an object. */
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
